  
    <div class="container">
    	<div class='row'>
    		<div class='span2'>		
		    	<%= render(:partial => "/refinery/menu", :locals => {
		         :css => 'nav nav-pills nav-stacked'
		       }) %>	
   			</div>
		</div>
      </div>
    </div>
  

  