  <div class="navbar-inner">
    <div class="container">
    	<%= link_to "Melissa Franklin", '#', id: "logo" %>
        <%= render(:partial => "/refinery/menu", :locals => {
         :css => 'nav pull-right'
       }) %>	
      </div>
    </div>
  </div>


  